:root {
  --color-black: #000;
  --color-dark: #333;
  --color-grey: #E5E5E5;
  --color-light: #F2F2F2;
  --color-white: #FFF;
  --color-light-brown: #756257;
  --color-dark-brown: #615048;
  --color-light-green: #7DB54F;
  --color-dark-green: #6C9E42;
  --color-light-blue: #83B3D3;
  --color-dark-blue: #68A2CA;
  --color-light-cold-20: hsla(204 48% 67% / 0.2);
  --color-light-cold-12: hsla(204 48% 67% / 0.12);
  --color-error: #FF5757;
  --color-warning: #FD922E;
  --color-success: #7DB550;
}

/* Обращение ко всем элементам */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  background-color: var(--color-grey-light);
  color: var(--color-black);
  margin: 0;
}

.body li {
  list-style-type: none;
}

.page-wrapper {
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr);
}
