:root {
  --color-neutral-lite: #7DB54F;
  --color-white: #ffffff;
  --color-grey-light: #F2F2F2;
  --color-black: #000;
}

/* Обращение ко всем элементам */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  background-color: var(--color-grey-light);
  color: var(--color-black);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page-wrapper {
  width: 1200px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
  margin: 0 auto;
}
