:root {
  --color-black: #000000;
  --color-dark: #333333;
  --color-grey: #E5E5E5;
  --color-grey-two: #E6E6E6;
  --color-light: #F2F2F2;
  --color-white: #FFFFFF;
  --color-light-brown: #756257;
  --color-dark-brown: #615048;
  --color-light-green: #7DB54F;
  --color-dark-green: #6C9E42;
  --color-light-blue: #83B3D3;
  --color-dark-blue: #68A2CA;
  --color-black-25: rgba(0, 0, 0, 0.25);
  --color-black-40: rgba(0, 0, 0, 0.4);
  --color-dark-blue-1: rgba(104, 162, 202, 1);
  --color-dark-blue-60: rgba(255, 255, 255, 0.6);
  --color-light-cold-20: rgba(131, 179, 211, 0.2);
  --color-light-cold-30: rgba(255, 255, 255, 0.3);
  --color-light-cold-12: rgba(131, 179, 211, 0.12);
  --color-dark-brown-30: rgba(117, 98, 87, 0.3);
  --color-light-brown-1: rgba(117, 98, 87, 1);
  --color-error: #FF5757;
  --color-warning: #FD922E;
  --color-success: #7DB550;
}

/* Обращение ко всем элементам */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--color-grey-light);
  color: var(--color-black);
  margin: 0;
}

