.search-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 91px 0 93px;

}

.search-block-header {
  margin: 0 0 43px;
}

.search-block-description {
  margin: 0 0 42px;
  text-align: center;
}

.search-block-button {
  font-size: 20px;
  line-height: 36px;
  min-width: 575px;
  border-radius: 10px;
}
