@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}



/* Стилизация шапки и подвала */


.newsletter-bg {
  color:#ffffff;
  background-color: #83B3D3;
  margin-left: auto;
  margin-right: auto;
}

/* Дальше стилизация главной */
.heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 63px 240px 31px;
}

.description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 240px 80px;
}

.benefits-header {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.benefits-description {
  text-align: center;
}

.benefits-description {
  text-align: center;
}

.hotel-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color:#ffffff;
  background-color: #756257;

}
/* Дальше стилизация каталога */
.choice-housing {
  color: #ffffff;
}

/* ? */
.choice-housing-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
