

.blue-block {
  background-color: #83B3D3;
  width: 400px;
  height: 384px;
  color:#FFFFFF;
}

.translucent-card {
background-color: rgba(131,179,211,0.12);
width: 400px;
height: 384px;
}

.white-card {
background-color: #FFFFFF;
width: 400px;
height: 384px;
}

.translucent-card-4 {
background-color: rgba(131,179,211,0.2);
width: 400px;
height: 384px;
}


