.hotel-cards-list {
  margin: 0 0 34px 0;
  padding: 0 73px 30px;
  gap: 10px 18px;
}

.hotel-card-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hotel-card-link {
  margin-bottom: 16px;
  text-decoration: none;
}

.hotel-card-img {
  display: block;
  object-fit: contain;
  margin: 0 auto 16px;
}
.hotel-card-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
}

.product-card-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 133px 141px;
  grid-template-rows: 23px 37px;
  gap: 16px 26px;
  margin-bottom: 16px;
}

.product-card-button {
  align-self: center;
  /* padding: 10px 11px; */
}

/* .product-card-price-block {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 26px;
} */

.product-card-price {
  line-height: 23px;
  padding: 0;
  margin: 0;
}

/* .product-card-button-block {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 26px;
  margin-bottom: 16px;
} */

.product-card-more {
  background-color: var(--color-light-brown);
}

.product-card-favorites {
 background-color: var(--color-light-blue);
}

.product-card-favorites-added {
  background-color: var(--color-light-green);
}

.product-card-star-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star-rating {
  background-image: url(../images/icon-star.svg);
  width: 18px;
  height: 17px;
}

.star-rating-4 {
  width: 80px;
}

.star-rating-3 {
  width: 60px;
}

.star-rating-2 {
  width: 40px;
}

.product-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-dark);
  margin: 0;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--color-light);
}
