.choice-housing {
  background-image: url("../images/bg-blurry-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-light-blue);
  color: var(--color-white);
}

.choice-housing-title {
  margin: 0;
  padding: 35px 601px 11px 73px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  align-items:center;
  min-width: 150px;
  margin: 0;
  padding: 0 1014px 51px 73px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 11px;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}

.home-breadcrumbs {
  width: 22px;
  height: 21px;
  background-image: url("../images/icon-home-mini.svg");
}

.arrow-breadcrumbs {
  width: 5px;
  height: 8px;

  background-image: url("../images/gray-arrow.svg");
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.section-catalog {
  display: flex;
  justify-content: space-between;
  padding: 0 73px 75px;
}

.section-filter {
  display: flex;

}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: 0;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 67px;
}

.catalog-filter-title {
  margin-bottom: 30px;
}

.catalog-filtre-ltem:not(:last-child) {
  margin-bottom: 13px;
}

.control-input {
  width: 20px;
  height: 20px;
  margin-right: 19px;
}

.section-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.submit-button {
  border: none;
  background-color: transparent;
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
  background-color: var(--color-light-blue);
}


