.choice-housing {
  background-image: url("../images/bg-blurry-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-light-blue);
  color: var(--color-white);
}

.choice-housing-title {
  margin: 0;
  padding: 35px 601px 11px 73px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 150px;
  margin: 0;
  padding: 0 73px 51px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 11px;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}

.home-breadcrumbs {
  width: 22px;
  height: 21px;
  background-image: url("../images/icon-home-mini.svg");
}

.arrow-breadcrumbs {
  width: 5px;
  height: 8px;
  background-image: url("../images/gray-arrow.svg");
}

.catalog-filter-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.section-catalog {
  display: flex;
  justify-content: space-between;
  padding: 0 73px 75px;
}

.section-filter {
  display: flex;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: 0;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 67px;
}

.catalog-filtre-ltem:not(:last-child) {
  margin-bottom: 13px;
}

.control-input {
  width: 20px;
  height: 20px;
  margin-right: 19px;
}

.range-label {
  transform: translateY(-2px);
  opacity: .3;
  text-transform: lowercase;
  line-height: 23px;
}

.price-range-group {
  padding: 0;
  margin: 0;
  border: none;
}

.price-range-title {
  margin-bottom: 34px;
}

.price-range-inputs {
  display: flex;
  height: 48px;
  margin-bottom: 43px;
  border: 2px solid;
  border-radius: 4px;
}

.catalog-filter-label {
  padding: 12px 16px 10px;
}

.catalog-filter-label-current {
  border-right: 2px solid;
}

.range-input {
  width: 90px;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-white);
  background-color: transparent;
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  margin-top: auto;
  width: 287px;
  height: 4px;
  background-color: var( --color-light-brown);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--color-white);
}

.range-toggle {
  position: absolute;
  bottom: -8px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 207px;
}

.section-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-submit {
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  background-color: var(--color-light-blue);

}

.button-reset {
  font-size: 18px;
  padding: 20px 20px 0;
  color: var(--color-white);
  background-color: inherit;
  border: none;
  cursor: pointer;
}
