.pagination-show-more {
  display: block;
  width: 620px;
  margin: 30px auto;
  padding: 17px 40px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--color-light-blue);
}

.pagination-show-more:hover {
  background-color: var(--color-dark-blue);
}

.pagination-show-more:focus-visible {
  outline: 3px solid var(--color-light-brown);
}

.pagination-show-more-wrapper {
  margin: 0 72px;
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

.pagination-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 28px 73px 76px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: -8px 0 0;
  padding: 0;
}

.pagination-item {
  margin: 8px 0 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  padding: 15px;
  min-width: 55px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.pagination-link:not(.pagination-current):hover {
  background-color: var(--color-dark-blue);
}

.pagination-link:not(.pagination-current):active {
  color: var(--color-white-30);
}

.pagination-link:not(.pagination-current):focus-visible {
  outline: 3px solid var(--color-light-brown);
}

.pagination-current {
  color: var(--color-black);
  background-color: var(--color-light);
}

.hotel-page {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.hotel-page-text {
  margin-right: 50px;
  font-size: 18px;
  line-height: 23px;
}

.hotel-page-select {
  display: inline-block;
  width: 160px;
}
