.pagination-show-more {
  display: block;
  width: 610px;
  margin: 47px auto;
  padding: 17px 40px;
  background-color: var(--color-light-blue);
}

.pagination-show-more-wrapper {
  margin: 0 72px;
  border-top: 1px solid var(--color-grey-two);
  border-bottom: 1px solid var(--color-grey-two);
}

.pagination-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 73px 73px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px 0 0;
  padding: 0;
}

.pagination-item {
  margin: 8px 0 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  padding: 15px;
  min-width: 55px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.pagination-current {
  color: var(--color-black);
  background-color: var(--color-light);
}

.hotel-page-text {
  margin-right: 51px;
  font-size: 18px;
  line-height: 23px;
}

.select-control-number {
  padding: 13px 133px 12px 17px;
  text-decoration: none;
}
