.search-hotel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 73px;
}

.number-hotels {
  margin: 0;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  border-radius: 4px;
  border-color: var(--color-grey-two);
  cursor: pointer;
}

.select-control-choice {
  padding: 12px 127px 13px 19px;
}

.button-card-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.button-card {
  width: 16px;
  height: 14px;
  border: 2px solid;
  padding: 17px 16px;
  border-radius: 4px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.button-card-item:not(:last-child) {
  margin-right: 8px;
}

.button-card-active {
  background-image: url("../images/icon-mode-1.svg");
  border-color: var(--color-black);
}

.slideshow-mode {
  background-image: url("../images/icon-mode-2.svg");
  border-color: var(--color-grey-two);
}

.card-mode {
  background-image: url("../images/icon-mode-3.svg");
  border-color: var(--color-grey-two);
}
