.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 40px 72px 30px;
}

.footer-phone-contacts {
  padding: 15px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: var(--color-black);
}

.footer-phone-contacts:hover {
  color: var(--color-light-brown);
}

.footer-phone-contacts:active {
  opacity: 0.3;
}

.footer-phone-contacts:focus-visible {
  outline: 3px solid var(--color-light-blue);
  border-radius: 10px;
}

.footer-social-list {
  display: flex;
  padding: 0;
  margin: -18px 0 0 -18px;
}

.footer-social-item {
  position: relative;
}

.footer-social-item:not(:last-child) {
  margin-right: 21px;
}

.footer-social-link {
  display: block;
  margin: 8px 0 0 8px;
  width: 30px;
  height: 30px;
  color: var(--color-light-blue);
}

.footer-social-link:hover {
  color: var(--color-dark-blue);
}

.footer-social-link:active {
  opacity: 0.6;
}

.footer-social-link:focus-visible {
  outline: 3px solid var(--color-dark-blue);
  border-radius: 10px;
}

.twitter::before {
  content: "";
  position: absolute;
  background-color: currentColor;
  top: 6px;
  left: 4px;
  margin: 10px;
  width: 20px;
  height: 20px;
  mask-image: url("../images/icon-twitter.svg");
  mask-repeat: no-repeat;
}

.facebook::before {
  content: "";
  position: absolute;
  background-color: currentColor;
  top: 5px;
  left: 8px;
  margin: 10px;
  width: 20px;
  height: 20px;
  mask-image: url("../images/icon-facebook.svg");
  mask-repeat: no-repeat;
}

.youtube::before {
  content: "";
  position: absolute;
  background-color: currentColor;
  top: 5px;
  left: 4px;
  margin: 10px;
  width: 20px;
  height: 20px;
  mask-image: url("../images/icon-youtube.svg");
  mask-repeat: no-repeat;
}

/* .footer-site-link-logo {
  color: red;
}

.footer-site-link-logo::after {
  background-color: currentColor;
  content: "";
  mask-image: url("../images/logo-htmlacademy.svg");
  pointer-events: none;
  position: absolute;
}


.footer-site-link-logo:hover {
  color: var(--color-light-brown);
}

.footer-site-link-logo:active {
  opacity: 0.3;
}

.footer-site-link-logo:focus-visible {
  outline: 3px solid var(--color-light-blue);
  border-radius: 10px;
} */
