.page-header {
  padding: 0 72px;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
  padding-left: 169px;
}

.navigation-logo {
  position: absolute;
  left: 0;
  top: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

.navigation-pages {
  gap: 34px;
}

.navigation-link {
  display: block;
  padding: 20px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
}

.navigation-link:hover {
  color: var(--color-dark-brown);
}

.navigation-link:active {
  color: var(--color-dark-brown-30);
}

.navigation-link:focus-visible {
  outline: 3px solid var(--color-light-blue);
}

.navigation-link-current {
  border-bottom: 1px solid var(--color-light-brown);
}

.navigation-button {
  display: block;
  min-width: 160px;
  margin-left: 20px;
  background-color: var(--color-light-brown);
}

.navigation-button:hover {
  background-color: var(--color-dark-brown);
}

.navigation-button:active {
  color: var(--color-light-cold-30);
}

.navigation-button:focus-visible {
  outline: 3px solid var(--color-light-blue);
}

.navigation-item {
  position: relative;
}

.navigation-icon {
  display: block;
  width: 42px;
  height: 66px;
  color: var(--color-black);
}

.navigation-icon::before {
  content: "";
  height: 19px;
  margin: auto;
  width: 20px;
  mask-repeat: no-repeat;
}

.navigation-icon:hover {
  color: var(--color-dark-brown);
}

.navigation-icon:active {
  color: var(--color-dark-brown-30);
}

.navigation-icon:focus-visible {
  outline: 3px solid var(--color-light-blue);
}

.navigation-search::before {
  content: "";
  background-color: currentColor;
  position: absolute;
  top: 24px;
  left: 8px;
  mask-image: url("../images/icon-glass.svg");
}


.navigation-favorites::before {
  content: "";
  background-color: currentColor;
  position: absolute;
  top: 25px;
  left: 13px;
  mask-image: url("../images/icon-favorite.svg");
}

.navigation-favorites-count {
  position: absolute;
  top: calc(50% - 8px);
  right: calc(50% - 13px);
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.1em;
  min-width: 20px;
  background-color: var(--color-light-green);
  border-radius: 10px;
  color: var(--color-white);
  display: block;
  transform: translate(50%, -50%);
  padding: 3px 5px;
}

