.icon-home {
  background-image: url(../images/icon-home.svg);
  display: block;
  width: 84px;
  height: 84px;
}

.icon-burger {
  background-image: url(../images/icon-burger.svg);
  display: block;
  width: 84px;
  height: 84px;
}

.icon-gift {
  background-image: url(../images/icon-gift.svg);
  display: block;
  width: 84px;
  height: 84px;
}
