.modal-container {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-open {
  display: flex;
}

.modal-window {
  position: relative;
  width: 715px;
  border-radius: 30px;
  background-color: var(--color-white);
  padding: 70px;
}

.modal-close {
  border-radius: 50%;
}

.modal-close::before {
  content: "";
  position: absolute;
  background-color: currentColor;
  width: 20px;
  height: 20px;
  mask-image: url("../../images/icon-cross.svg");


}
