.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 200px 140px;
}

.newsletter-field:hover {
  background-color: var(--color-grey-two);
}

.newsletter-field:focus {
  outline: 3px solid var(--color-light-blue);
}

.newsletter-alter {
  padding: 101px 72px 94px;
  background-image: url("../images/bg-blurry-mountains.jpg");
  background-size: cover;
  color: var(--color-white);
}

.newsletter-header {
  margin: 0 0 29px;
}

.newsletter-description {
  margin: 0 0 46px;
  text-align: center;
}

.newsletter-form {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.newsletter-label {
  flex-grow: 1;
}

.newsletter-field {
  width: 100%;
  border: 3px solid transparent;
  border-radius: 10px 0 0 10px;
  padding: 14px 22px;
  font: inherit;
  line-height: 26px;
  background-color: var(--color-light);
}

.newsletter-field::placeholder {
  opacity: 0.6;
  font: inherit;
}

.newsletter-field:invalid {
  border: 3px solid red;
}

.newsletter-button {
  width: 200px;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 26px;
  background-color: var(--color-light-blue);
}

.newsletter-button:hover {
  background-color: var(--color-dark-blue);
}

.newsletter-button:active {
  color: var(--color-light-cold-30);
}

.newsletter-button:focus-visible {
  outline: 3px solid var(--color-light-brown);
}

