.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-field:hover {
  background-color: var(--color-grey-10);
}

.newsletter-field:focus {
  outline: 3px solid var(--color-light-blue);
}

.newsletter-bg {
  height: 411px;
  padding: 94px 72px 93px;
  background-image: url("../images/bg-blurry-mountains.jpg");
  background-size: cover;
  color: var(--color-white);
}

.newsletter-bg-none {
  margin: 0;
  padding: 0 200px 140px;
}

.newsletter-header {
  margin: 0 0 29px;
}

.newsletter-description {
  margin: 0 0 46px;
  text-align: center;
}

.newsletter-form {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.newsletter-label {
  flex-grow: 1;
}

.newsletter-field {
  width: 100%;
  border: 3px solid transparent;
  border-radius: 10px 0 0 10px;
  padding: 14px 22px;
  font: inherit;
  line-height: 26px;
  background-color: var(--color-light);
}

.newsletter-field::placeholder {
  line-height: 26px;
  font: inherit;
  opacity: 0.6;
}

.newsletter-field:invalid {
  border: 3px solid red;
}

.newsletter-button {
  width: 200px;
  border-radius: 0 10px 10px 0;
  background-color: var(--color-light-blue);
  font-size: 20px;
  line-height: 26px;
}

.newsletter-button:hover {
  background-color: var(--color-dark-blue-10);
}

.newsletter-button:active {
  color: var(--color-light-cold-30);
}

.newsletter-button:focus-visible {
  outline: 3px solid var(--color-light-brown-10);
}

