.search-block {
  padding: 91px 72px 93px;
}

.search-block-header {
  margin: 0 0 43px;
  text-align: center;
}

.search-block-description {
  margin: 0 0 42px;
  text-align: center;
}

.search-block-button {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  border-radius: 10px;
  background-color: var(--color-light-brown);
}

.search-block-button:hover {
  background-color: var(--color-dark-brown);
}

.search-block-button:active {
  color: var(--color-light-cold-30);
}

.search-block-button:focus-visible {
  outline: 3px solid var(--color-light-blue);
}
