.welcome {
  background-image: url("../images/bg-welcome.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin-bottom: 82px;
  padding: 485px 72px 0;
}

.welcome-heading {
  max-width: 720px;
  margin: 63px auto 38px;
  line-height: 35px;
  text-align: center;
}

.welcome-description {
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
}
