.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-pages {
  gap: 34px;
  height: 100%;
}

.navigation-pages .navigation-link {
  display: block;
  padding: 20px 0;
}

.navigation-link {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
}

.navigation-link.active {
  border-bottom: 1px solid #756257;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  background-color: #756257;
  text-transform: uppercase;
  padding: 9px 15px 8px;
  min-width: 130px;
  border-radius: 4px;
}

.navigation-icon {
  display: block;
  width: 42px;
  height: 66px;
  background-repeat: no-repeat;
  background-position: center;
}


.navigation-search {
  background-image: url("../images/icon-glass.svg");
}

.navigation-favorites {
  position: relative;
  background-image: url("../images/icon-favorite.svg");
}

.navigation-favirites-count {
  position: absolute;
  top: calc(50% - 8px) ;
  left: calc(50% + 13px);
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  width: 20px;
  height: 20px;
  background-color: var(--color-neutral-lite);
  border-radius: 10px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);

}

