.newsletter-bg  {
  background-image: url("../../images/bg-blurry-mountains.jpg");
  background-size: cover;
  width: 1200px;
  height: 411px;
}

.newsletter-bg {
  color:var(--color-white);
  background-color: var(--color-light-blue);
  margin-left: auto;
  margin-right: auto;
}
