{# Подключает лэйаут (общую часть страниц) #}
{% extends "_layout.html" %}

{# Переопределяет часть содержимого <title> #}
{% set title = "главная" %}

{# Устанавливает часть относительного пути до корневого каталога сайта #}
{% set root = "" %}

{# Устанавливает атрибут href со значением для ссылки на главную страницу #}
{% set rootHref = "" %}

{# Устанавливает атрибут href со значением для ссылки на каталог #}
{% set catalogHref = "href=\"pages/catalog.html\"" %}

{# Устанавливает класс, отвечающий за особенности блока рассылки на цветном фоне #}
{% set newsletterClass = "newsletter-alter" %}

{# Устанавливает содержимое уникальной части страницы внутри тега <main> #}
{% block main %}
<header class="welcome">
  <h1 class="visually-hidden">
    Добро пожаловать в Седону.
  </h1>

  <h3 class="h3 welcome-heading">
    Седона — небольшой городок в Аризоне, заслуживающий большего!
  </h3>

  <p class="text welcome-description">
    Рассмотрим 5 причин, по которым Седона круче, чем Гранд-Каньон!
  </p>
</header>

<ol class="benefits-list grid">
  <li class="grid">
    <div class="blue-card benefits-card-accent">
      <h4 class="h4 benefits-header">
        Настоящий городок
      </h4>

      <p class="benefits-description">
        — №1 —
      </p>

      <p class="benefits-description">
        Седона — не аттракцион для туристов, там течёт своя жизнь
      </p>
    </div>

    <img class="benefits-img" src="{{ root }}images/sedona-street.jpg" width="800" height="384" alt="Улицы Седоны.">

    <ul class="benefits-list-plus grid">
      <li class="benefits-item translucent-card benefits-card-icon icon-home">
        <h4 class="h4 benefits-header icon-header icon-header-housing">
          Жильё
        </h4>

        <p class="benefits-description benefits-description-translate">
          Рекомендуем пожить
          <br>
          в настоящем мотеле,
          <br>
          всё как в кино!
        </p>
      </li>

      <li class="benefits-item white-card benefits-card-icon icon-burger">
        <h4 class="h4 benefits-header icon-header icon-header-eat">
          Еда
        </h4>

        <p class="benefits-description benefits-description-translate">
          Всегда заказывайте
          <br>
          топовый фирменный бургер,
          <br>
          вы не разочаруетесь!
        </p>
      </li>

      <li class="benefits-item translucent-card benefits-card-icon icon-gift">
        <h4 class="h4 benefits-header icon-header icon-header-souvenir">
          Сувениры
        </h4>

        <p class="benefits-description benefits-description-translate">
          Не только китайского,
          <br>
          но и настоящего местного
          <br>
          производства!
        </p>
      </li>
    </ul>
  </li>

  <li class="benefits-item grid">
    <img class="benefits-img" src="{{ root }}images/devil-bridge.jpg" width="800" height="384" alt="Мост дьявола.">

    <div class="blue-card benefits-card-accent">
      <h4 class="h4 benefits-header">
        Там есть
        <br>
        мост дьявола
      </h4>

      <p class="benefits-description">
        — №2 —
      </p>

      <p class="benefits-description">
        Да, по нему можно пройти! Если вы осмелитесь, разумеется
      </p>
    </div>
  </li>

  <li class="benefits-item translucent-card benefits-card">
    <h4 class="h4 benefits-header">
      Небольшая площадь
    </h4>

    <p class="benefits-description">
      — №3 —
    </p>

    <p class="benefits-description">
      Все достопримечательности находятся очень близко
    </p>
  </li>

  <li class="benefits-item translucent-card benefits-card">
    <h4 class="h4 benefits-header">
      Красивая
      <br>
      дорога
    </h4>

    <p class="benefits-description">
      — №4 —
    </p>

    <p class="benefits-description">
      Ехать в Седону из Лас-Вегаса совсем не скучно!
    </p>
  </li>

  <li class="benefits-item translucent-card benefits-card">
    <h4 class="h4 benefits-header">
      Мало
      <br>
      туристов
    </h4>

    <p class="benefits-description">
      — №5 —
    </p>

    <p class="benefits-description">
      Большинство едет в Гранд Каньон и толпится там
    </p>
  </li>
</ol>

<div class="search-block">
  <p class="h3 search-block-header">
    Заинтересовались?
  </p>

  <p class="text search-block-description">
    Укажите предполагаемые даты поездки,
    <br>
    и мы покажем вам лучшие предложения гостиниц в Седоне &nbsp;
  </p>

  <a class="button search-block-button js-modal-open" href="#!">
    Поиск гостиницы в Седоне
  </a>
</div>

<section class="modal-container modal-open js-modal">
  <form class="modal-window">
    <div class="modal-header">
      <h2 class="modal-title">
        Поиск гостиницы в Седоне
      </h2>

      <button class="modal-close js-modal-close">
        <span class="visually-hidden">
          Закрыть
        </span>
      </button>
    </div>

    <div class="modal-select-block">
      <label class="modal-select">
        <span class="modal-date-text">
          Дата заезда:
        </span>

        <select class="select-control select-control-date" name="booking-date">
          <option>
            27 апреля 2020
          </option>
        </select>
      </label>

      <p class="select-comment">
        Мы не можем отправить вас в прошлое.
      </p>

      <label class="modal-select">
        <span class="modal-date-text">
          Дата выезда:
        </span>

        <select class="select-control select-control-date" name="booking-date">
          <option>
            1 сентября 2021
          </option>
        </select>
      </label>

      <p class="select-comment">
        На эти даты есть свободные номера. Пока есть.
      </p>
    </div>

    <button class="js-modal-search">
      Найти
    </button>
  </form>
</section>
{% endblock %}
