body {
  margin: 0;
}

.blue-block {
  background-color: #83b3d3;
  width: 400px;
  height: 384px;
}

.translucent-card {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}

.white-card {
  background-color: #ffffff;
  width: 400px;
  height: 384px;
}

.translucent-card-4 {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
}

.search {
  background-color: #ffffff;
  width: 1200px;
  height: 470px;
}

.newsletter-bg {
  background-image: url("../../images/bg-blurry-mountains.jpg");
  width: 1200px;
  height: 411px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.welcome {
  min-width: 1200px;
  min-height: 485px;
  background-image: url("../images/bg-welcome.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.heading {
  max-width: 720px;
  max-height: 72;
  text-align: center;
}

.description {
  max-width: 720px;
  max-height: 36px;
  text-align: center;
}
/* Ниже стилизация каталога */
.choice-housing {
  min-width: 1200px;
  min-height: 408px;
  background-image: url("../../images/bg-blurry-catalog.jpg");
  background-repeat: no-repeat;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}
