:root {
  --color-black: #000000;
  --color-dark: #333333;
  --color-grey: #e5e5e5;
  --color-light: #f2f2f2;
  --color-white: #ffffff;
  --color-light-brown: #756257;
  --color-dark-brown: #615048;
  --color-light-green: #7db54f;
  --color-dark-green: #6c9e42;
  --color-light-blue: #83b3d3;
  --color-dark-blue: #68a2ca;
  --color-light-cold-20: rgba(131, 179, 211, 0.2);
  --color-light-cold-12: rgba(131, 179, 211, 0.12);
  --color-error: #ff5757;
  --color-warning: #fd922e;
  --color-success: #7db550;
}

/* Обращение ко всем элементам */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  background-color: var(--color-grey-light);
  color: var(--color-black);
  margin: 0;
}

.page-wrapper {
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
  margin: 0 auto;
}

.page-wrapper li {
  list-style-type: none;
}

.grid {
  display: grid;
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr);
}

.button {
  padding: 9px 15px 8px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  color: var(--color-white);
  background-color: var(--color-light-brown);
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

.h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
}

.h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}

.h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.text-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.benefits-list,
.benefits-list-plus {
  margin: 0;
  padding: 0;
}

.benefits-header {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.benefits-description {
  margin-bottom: 0;
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.blue-card {
  background-color: var(--color-light-blue);
  color: var(--color-white);
}

.translucent-card {
  background-color: var(--color-light-cold-12);
}

.translucent-card:nth-child(2n) {
  background-color: var(--color-light-cold-20);
}

.white-card {
  background-color: var(--color-white);
}

.benefits-img {
  grid-column: span 2;
}

.benefits-card-accent {
  padding: 97px 90px 87px;
}

.benefits-card {
  padding: 98px 75px 108px;
}

.benefits-card-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 89px 75px 79px;
}

.benefits-card-icon::before {
  content: "";
  display: block;
  width: 84px;
  height: 84px;
  margin-bottom: 23px;
}

.icon-home::before {
  background-image: url("../images/icon-home.svg");
}

.icon-burger::before {
  background-image: url("../images/icon-burger.svg");
}

.icon-gift::before {
  background-image: url("../images/icon-gift.svg");
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 40px 72px 30px;
}

.footer-phone-contacts {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: var(--color-black);
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  display: block;
  width: 20px;
  height: 20px;
  background: no-repeat;
  background-position: center;
  margin-right: 29px;
}

.tvitter {
  background-image: url("../../images/icon-twitter.svg");
}

.facebook {
  background-image: url("../../images/icon-facebook.svg");
}

.youtube {
  background-image: url("../../images/icon-youtube.svg");
}

.page-header {
  padding: 0 72px;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
  padding-left: 169px;
}

.navigation-logo {
  position: absolute;
  left: 0;
  top: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

.navigation-pages {
  gap: 34px;
}

.navigation-link {
  display: block;
  padding: 20px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
}

.navigation-link.active {
  border-bottom: 1px solid var(--color-light-brown);
}

.navigation-button {
  display: block;
  min-width: 160px;
  margin-left: 20px;
}

.navigation-icon {
  display: block;
  width: 42px;
  height: 66px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-search {
  background-image: url("../images/icon-glass.svg");
}

.navigation-favorites {
  position: relative;
  background-image: url("../images/icon-favorite.svg");
}

.navigation-favorites-count {
  position: absolute;
  top: calc(50% - 8px);
  right: calc(50% - 13px);
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.1em;
  min-width: 20px;
  background-color: var(--color-light-green);
  border-radius: 10px;
  color: var(--color-white);
  display: block;
  transform: translate(50%, -50%);
  padding: 3px 5px;
}

.newsletter-form {

  min-width: 850px;
  margin: 46px 200px 94px 200px;
}

.field {
  width: 600px;
  height: 60px;
  border-radius: 10px 0 0 10px;
  padding: 17px 491px 17px 22px;
}

.newsletter-button {
  display: inline;
  width: 200px;
  height: 61px;

  border-radius: 0 10px 10px 0;
  background-color: var(--color-light-blue);
}

.search-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 91px 0 93px;
}

.search-block-header {
  margin: 0 0 43px;
}

.search-block-description {
  font-size: 22px;
  margin: 0 0 42px;
  text-align: center;
}

.search-block-button {
  font-size: 20px;
  line-height: 36px;
  min-width: 575px;
  border-radius: 10px;
}

.newsletter-bg {
  background-image: url("../../images/bg-blurry-mountains.jpg");
  background-size: cover;
  width: 1200px;
  height: 411px;
}

.newsletter-bg {
  box-sizing: border-box;
  color: var(--color-white);
  background-color: var(--color-light-blue);
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.welcome {
  background-image: url("../images/bg-welcome.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin-bottom: 80px;
  padding-top: 485px;
}

.welcome-heading {
  max-width: 720px;
  max-height: 72px;
  text-align: center;
  margin: 63px auto 31px;
}

.welcome-description {
  max-width: 720px;
  max-height: 36px;
  text-align: center;
  margin: 0 auto;
}

