:root {
  --color-neutral-lite: #7db54f;
  --color-white: #ffffff;
  --color-grey-light: #f2f2f2;
  --color-black: #000000;
}

/* Обращение ко всем элементам */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  background-color: var(--color-grey-light);
  color: var(--color-black);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page-wrapper {
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr);
}

.blue-card {
  background-color: #83b3d3;
  color: #ffffff;
}

.translucent-card {
  background-color: rgba(131, 179, 211, 0.12);
}

.white-card {
  background-color: #ffffff;
}

.translucent-card-4 {
  background-color: rgba(131, 179, 211, 0.2);
}

.benefits-img {
  grid-column: span 2;
}

.benefits-card-accent {
  padding: 97px 90px 87px;
}

.benefits-card {
  padding: 98px 75px 108px;
}

.benefits-description {
  margin-top: 30px;
}

.benefits-card-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 89px 75px 79px;
}

.benefits-card-icon::before {
  content: "";
  display: block;
  width: 84px;
  height: 84px;
  margin-bottom: 23px;
}

.icon-home::before {
  background-image: url(../images/icon-home.svg);
}

.icon-burger::before {
  background-image: url(../images/icon-burger.svg);
}

.icon-gift::before {
  background-image: url(../images/icon-gift.svg);
}

.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-pages {
  gap: 34px;
  height: 100%;
}

.navigation-pages .navigation-link {
  display: block;
  padding: 20px 0;
}

.navigation-link {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
}

.navigation-link.active {
  border-bottom: 1px solid #756257;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  background-color: #756257;
  text-transform: uppercase;
  padding: 9px 15px 8px;
  min-width: 130px;
  border-radius: 4px;
}

.navigation-icon {
  display: block;
  width: 42px;
  height: 66px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-search {
  background-image: url("../images/icon-glass.svg");
}

.navigation-favorites {
  position: relative;
  background-image: url("../images/icon-favorite.svg");
}

.navigation-favirites-count {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% + 13px);
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  width: 20px;
  height: 20px;
  background-color: var(--color-neutral-lite);
  border-radius: 10px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.newsletter-bg {
  background-image: url("../../images/bg-blurry-mountains.jpg");
  background-size: cover;
  width: 1200px;
  height: 411px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.welcome {
  min-height: 485px;
  background-image: url("../images/bg-welcome.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.heading {
  max-width: 720px;
  max-height: 72;
  text-align: center;
}

.description {
  max-width: 720px;
  max-height: 36px;
  text-align: center;
}

/* Ниже стилизация каталога */

.choice-housing {
  background-image: url("../images/bg-blurry-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #83b3d3;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

/* Стилизация шапки и подвала */

.newsletter-bg {
  color: #ffffff;
  background-color: #83b3d3;
  margin-left: auto;
  margin-right: auto;
}

/* Дальше стилизация главной */

.heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 63px 240px 31px;
}

.description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 240px 80px;
}

.benefits-header {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.benefits-description {
  text-align: center;
}

.benefits-description {
  text-align: center;
}

.hotel-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756257;
}

/* Дальше стилизация каталога */

.choice-housing {
  color: #ffffff;
}

/* ? */

.choice-housing-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

